@model CarServiceLibrary.Models.Entities.Services
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<div class="row">
		<div class="col-12 d-flex flex-column align-items-start justify-content-center col-lg-6 col-xl-5 ">
			<h2>Обслуживание автомобиля</h2>
			<ul class="py-4">
				<li class="fs-5">Выполним обслуживание автомобиля</li>
				<li class="fs-5">Фиксированные цены</li>
				<li class="fs-5">Запчасти и расходники в наличии</li>
				<li class="fs-5">Соблюдаем сроки по договору</li>
				<li class="fs-5">Опыт мастеров более 10 лет</li>
			</ul>
			<a class="btn btn-danger fs-4" href="" role="button">Обратный звонок</a>
		</div>
		<div class="col-md-5 col-lg-5 offset-lg-1 d-none d-lg-block phone-holder">
			<div class="iphone-mockup">
				<img class="maintenance-header-img" src="~/Images/cat2.jpg" alt="">
			</div>
		</div>
	</div>

<div class="container text-center my-3">
	<h1 class="my-5">Оказываем полный комплекс услуг по обслуживанию автомобилей</h1>
	<div class="decor-line"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				@for (var i = 0; i < 6; i++)
				{
					<div class="card my-3 border-radius-lg shadow-sm" >
						<div class="card-body">
							<p class="card-text fs-4">Плановое ТО</p>
						</div>
					</div>
				}
			</div>
			<div class="col">
				@for (var i = 0; i < 6; i++)
				{
					<div class="card my-3 border-radius-lg shadow-sm" >
						<div class="card-body">
							<p class="card-text fs-4">Плановое ТО</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
</div>
